sophomore-fall/CS 109/final-project/county_by_cohort_estimates.csv
sophomore-fall/CS 109/final-project/social_capital_county.csv
sophomore-fall/CS 109/final-project/Table_8_county_covariates.csv
sophomore-fall/CS 109/final-project/merged_data.csv
sophomore-fall/CS 109/final-project/Table_8_county_covariates.csv

venv/